<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" />
</head>
<body>

<!-- Navbar -->
<div th:fragment="header">

    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}"> Language service </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ><a th:href="@{/}" href="home.html"> Основная страница </a></li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/users}" href="/users"> Пользователи </a></li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/languages}" href="/languages"> Языки </a></li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/words}" href="/words"> Слова </a></li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/wordSets}" href="/wordSets"> Наборы слов </a></li>

                    <li sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/words}" href="/words"> Слова </a></li>
                    <li sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/wordSets}" href="/wordSets"> Наборы </a></li>
                    <li sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/profile}" href="/profile"> Мой профиль </a></li>


                    <li sec:authorize="isAnonymous()"><a th:href="@{/login}" href="login"> Войти </a></li>
                    <li sec:authorize="isAnonymous()"><a th:href="@{/user/create}" href="/user/create"> Регистрация </a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" href="logout"> Выйти </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>